/**
 * Table of Contents
 * 
 * 01. Fonts
 * 02. Basics
 * 03. Page Structure
 * 04. Forms and Input
 * 05. Overtime
 */

/**
 * 01. Fonts
 * _________________
 * Custom web fonts.
 */

@font-face {
 font-family: Roboto;
 src: url("./fonts/roboto/Roboto-Light.eot");
 src: url("./fonts/roboto/Roboto-Light.eot?#iefix") format("embedded-opentype"),
  url("./fonts/roboto/Roboto-Light.woff2") format("woff2"),
  url("./fonts/roboto/Roboto-Light.woff") format("woff"),
  url("./fonts/roboto/Roboto-Light.ttf") format("truetype"),
  url("./fonts/roboto/Roboto-Light.svg#roboto-thin") format("svg");
 font-weight: 100;
 font-style: normal;
}

@font-face {
 font-family: Roboto;
 src: url("./fonts/roboto/Roboto-Regular.eot");
 src: url("./fonts/roboto/Roboto-Regular.eot?#iefix") format("embedded-opentype"),
  url("./fonts/roboto/Roboto-Regular.woff") format("woff"),
  url("./fonts/roboto/Roboto-Regular.ttf") format("truetype"),
  url("./fonts/roboto/Roboto-Regular.svg#roboto-thin") format("svg");
 font-weight: 200;
 font-style: normal;
}

@font-face {
 font-family: Roboto;
 src: url("./fonts/roboto/Roboto-Italic.eot");
 src: url("./fonts/roboto/Roboto-Italic.eot?#iefix") format("embedded-opentype"),
  url("./fonts/roboto/Roboto-Italic.woff") format("woff"),
  url("./fonts/roboto/Roboto-Italic.ttf") format("truetype"),
  url("./fonts/roboto/Roboto-Italic.svg#roboto-italic") format("svg");
 font-weight: 100;
 font-style: italic;
}


/**
 * 02. Basics
 * _________________
 * General settings.
 */

html {
 width: 100%;
 height: 100%;
}

body {
 display: -webkit-flex;
 display: flex;
 -webkit-flex-direction: column;
 flex-direction: column;
 margin: 0;
 padding: 0;
 min-width: 100%;
 min-height: 100%;
 width: 100%;
 height: 100%;
 font-family: Roboto, sans-serif;
 font-weight: 100;
 font-size: 100%;
 line-height: 200%;
 color: rgb(204, 10, 45);
 background-color: rgb(238, 238, 238);
}

h1, h2, h3, h4, h5, h6 {
 font-size: 175%;
 font-weight: 200;
 margin: auto;
 padding: 0 0 1vmin 0;
}

h2 {
 font-size: 125%;
 font-weight: 100;
}

h3 {
 font-size: 100%;
 font-weight: 200;
}

p {
 text-align: left;
 margin: auto;
 padding: 0;
}

ul, ol {
 padding: 0;
 margin: 0;
}

li {
 list-style: none;
}

li a {
 padding: 10px 30px;
 margin: 0;
 display: block;
 text-transform: uppercase;
 text-decoration: none;
 color: rgb(201, 14, 18);
 background-color: rgb(238, 238, 238);
 border-bottom: 1px solid rgb(210, 210, 210);
 transition: color 0.2s, background-color 0.2s, background-position 0.2s;
 background-image: url("../img/triangle.png");
 background-repeat: no-repeat;
 background-position: 200% center;
}

#logout:hover,
li a:hover {
 background-color: rgb(228, 228, 228);
 color: rgb(220, 10, 10);
 background-position: 160% center;
}

.active,
li a:active,
li a:focus {
 color: red;
 background-position: 160% center;
}

#logout {
 background-color: rgb(240, 228, 228);
}

img {
 border: none;
 outline: none;
}

div {
}

table {
 font-size: 150%;
 line-height: 125%;
 border-collapse: separate;
 border-spacing: 0;
 margin: 10px;
 border-top: 1px solid rgb(210, 210, 210);
 border-left: 1px solid rgb(210, 210, 210);
}

td,
th {
 text-align: left;
 padding: 10px 1vmin;
 vertical-align: middle;
 border-bottom: 1px solid rgb(210, 210, 210);
 border-right: 1px solid rgb(210, 210, 210);
}


/**
 * 03. Page Structure
 * __________________________
 * Divisions with ARIA-Roles.
 */

div[role="banner"] {
 -webkit-order: 1;
 order: 1;
 z-index: 1;
 -webkit-flex-shrink: 0;
 flex-shrink: 0;
 text-align: left;
 color: rgb(255, 225, 225);
 background-color: rgb(204, 10, 47);
 width: 100%;
}

div[role="banner"] h1 {
 padding: 25px 0 5px 3vw;
}

div[role="banner"] h2 {
 padding: 0 0 25px 3vw;
}

div[role="banner"] h3 {
 text-align: center;
 padding: 5px;
 background-color: rgb(153, 7, 35);
 border-top: 4px double rgb(204, 10, 47);
}

div[role="contentinfo"],
div[role="complementary"] {
 -webkit-order: 1;
 order: 1;
 -webkit-flex-shrink: 0;
 flex-shrink: 0;
 color: rgb(255, 225, 225);
 background-color: rgb(238, 238, 238);
 border-right: 1px solid rgb(210, 210, 210);
}

div[role="main"] {
 display: -webkit-flex;
 display: flex;
 -webkit-justify-content: center;
 justify-content: center;
 -webkit-align-items: center;
 align-items: center;
 -webkit-order: 2;
 order: 2;
 -webkit-flex-grow: 1;
 flex-grow: 1;
 margin: auto;
}

div[role="contentinfo"] {
 -webkit-order: 3;
 order: 3;
 z-index: 3;
 width: 100%;
 height: 45px;
 -webkit-flex-grow: 0;
 flex-grow: 0;
 background-color: rgb(238, 238, 238);
 border: none;
 border-top: 1px solid rgb(210, 210, 210);
}

#flow {
 display: -webkit-flex;
 display: flex;
 -webkit-flex-direction: row;
 flex-direction: row;
 -webkit-order: 2;
 order: 2;
 z-index: 2;
 -webkit-flex-shrink: 0;
 flex-shrink: 0;
 -webkit-flex-grow: 1;
 flex-grow: 1;
 width: 100%;
}

.grow {
 -webkit-flex-grow: 1;
 flex-grow: 1;
}

.info,
#error h3 {
 font-size: 200%;
}

#error p {
 font-size: 150%;
}

.alert {
 -webkit-justify-content: center;
 justify-content: center;
 border-radius: 6px;
}

.alert-error {
 border: 1px solid rgb(220, 100, 100);
 border-bottom: 2px solid rgb(220, 100, 100);
}

.alert-success {
 border: 1px solid rgb(60, 160, 60);
 border-bottom: 2px solid rgb(60, 160, 60);
 color: rgb(60, 160, 60);
}

@media all and (max-width: 800px) {
 div[role="main"],
 #flow {
  -webkit-flex-direction: column;
  flex-direction: column;
 }

 div[role="complementary"] {
  width: 100%;
  border: none;
  text-align: center;
 }
}

/**
 * 04. Forms and Input
 * __________________________
 * Text fields, buttons, etc.
 */

form {
 text-align: center;
 margin: 10px;
}

fieldset {
 padding: 0;
 border: none;
}

fieldset div {
 display: -webkit-flex;
 display: flex;
 -webkit-justify-content: space-between;
 justify-content: space-between;
 -webkit-align-items: center;
 align-items: center;
 margin: 0 auto 2px auto;
}

fieldset div select,
fieldset div input,
fieldset div textarea {
 min-width: 300px;
 width: 300px;
 box-sizing: border-box;
}

#time input,
#controls input {
 min-width: 0;
 width: auto;
 margin: 4px;
 padding: 6px 8px;
}

#time {
 margin: 30px 5px;
}

#time label {
 font-size: 100%;
 line-height: 50%;
 padding: 0 8px;
 min-width: 80px;
 width: 80px;
 max-width: 80px;
}

#time div {
 -webkit-justify-content: center;
 justify-content: center;
}

#controls {
 font-size: 300%;
}

#time input[type="number"] {
 padding: 0;
 max-width: 80px;
 border: none;
 text-align: center;
}

legend {
 display: none;
}

label {
 white-space: nowrap;
 font-size: 150%;
 padding: 8px;
 padding-right: 16px;
 border: 1px solid transparent;
}

select, input, textarea {
 font-family: inherit;
 font-size: 100%;
 font-weight: 200;
 padding: 4px;
 color: rgb(205, 75, 75);
 background-color: white;
 border: 1px solid rgb(180, 75, 62);
 border-radius: 4px;
 outline: none;
}

input[type="submit"],
input[type="button"] {
 cursor: pointer;
 padding: 8px 24px;
 letter-spacing: 2px;
 margin: 10px;
 color: rgb(235, 195, 195);
 text-transform: uppercase;
 background-color: rgb(215, 95, 82);
 border: 2px solid rgb(180, 75, 62);
 border-bottom: 3px solid rgb(180, 75, 62);
 transition: color 0.2s, background-color 0.2s, border-color 0.2s;
}

input[type="submit"]:hover,
input[type="button"]:hover {
 background-color: rgb(195, 75, 72);
 border-color: rgb(165, 45, 45);
 color: rgb(222, 222, 222);
 cursor: pointer;
}

input[type="submit"]:focus,
input[type="button"]:focus {
 background-color: rgb(185, 35, 32);
 border-color: rgb(145, 20, 20);
 color: white;
}

@media all and (max-width: 800px) {
 fieldset div {
  -webkit-flex-direction: column;
  flex-direction: column;
  -webkit-align-items: stretch;
  align-items: stretch;
 }

 #control-labels,
 #controls {
  -webkit-flex-direction: row;
  flex-direction: row;
  -webkit-align-items: center;
  align-items: center;
 }

 label {
  -webkit-align-self: flex-start;
  align-self: flex-start;
  padding: 8px 0 0 0;
  font-size: 125%;
 }
}


/**
 * 05. Overtime
 * _________________________
 * Stopwatch and evaluation.
 */

#overtime {
 display: -webkit-flex;
 display: flex;
 -webkit-flex-grow: 1;
 flex-grow: 2;
 -webkit-align-items: center;
 align-items: center;
 -webkit-justify-content: center;
 justify-content: center;
 height: 60vmin;
 margin: 20px auto;
}

#overtime canvas {
}

#status {
 text-align: center;
 font-size: 200%;
}

#evaluation {
 -webkit-flex-shrink: 0;
 flex-shrink: 0;
 -webkit-flex-grow: 1;
 flex-grow: 1;
 text-align: center;
 margin: 20px auto;
}

@media all and (max-width: 800px) {
 #evaluation {
  margin: 20px;
 }
}
