/* Bootstrap Customizations */
.form-horizontal .control-label {
	text-align: left;
}

/* Countdown Clock and evaluation */
#overtime {
	display: -webkit-flex;
	display: flex;
	-webkit-flex-grow: 1;
	flex-grow: 2;
	-webkit-align-items: center;
	align-items: center;
	-webkit-justify-content: center;
	justify-content: center;
	height: 60vmin;
	margin: 20px auto;
}

#status {
	font-size: 200%;
}

.margin-top-bottom {
	margin-top: 25px;
	margin-bottom: 25px;
}

#pdf-link {
	margin-top: 80px;
}